h1{
    text-align: center;
    margin: 40px 0px;
}

#carousel {
    margin: auto;
    width:960px;
    border:1px solid #ffffff;
    height:300px;
    width: 100%;
    position:relative;
    clear:both;
    overflow:hidden;
    background:#FFF;
}
#carousel img {
  visibility:hidden;
  cursor:pointer;
}

.button {
    margin: auto;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    border-radius: 4px;
    font-size: 30px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.but{
    margin: 20px 0px;
    text-align: center;
}
#search {
    text-align: center;
    margin: 20px 0px;
}

#search input[type="text"] {
    margin: auto;
    background: url(../img/search.png) no-repeat 5px 1px #fcfcfc;
    background-size: contain;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }