#content{
	margin : auto;
}


h1,h2 {
	text-align : center;
	font-family: cursive;
}
h1 {
	font-size: 80px;
	max-width : 100%;
}

#test {
	margin : 20px 0px;
	text-align : center;
}

.li-item {
	box-shadow: 5px 5px 5px #000;
}
