h1,h2 {
	text-align : center;
}

h2 {
	margin-top : 20px;
	font-size: 1.8em;
}

h1 {
	width : 100%;
	color : white;
	background-color : black;
	font-family: cursive;
	padding : 30px;
}



.form-row {
	width : 800px;
	max-width : 100%;
	margin : 20px auto;
	text-align : center;
}

.form-row select {
	margin : 0px;
}

.form-row select:focus, .form-row input:focus{
	border-color : black;
	box-shadow: 0 0 0 .2rem rgba(76, 175, 80, .35);
4C AF 50
}

#result table{
	width : 1300px;
	max-width : 100%;
	margin : auto;
}

#result tbody tr{
	cursor: pointer;
}

#result tr td:first-child {
	font-weight: bold;
}

#result a {
	color : black;
	text-decoration: none;
}

body {
	margin-bottom: 20px;
}

@media screen and (max-width: 480px){
	table {
		width: 100%;
		margin:0px;
	}

	tr {
		display: block;
		height: auto;
		width:100%;
	} 
	
	td, th {
		display: block;
		width: 100%;
	}
	
}
